:root {
	--primary: darkslategray;
	--secondary: white;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav {
	background-color: var(--primary);
}
nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

nav > ul > .rightlinks {
	display: flex;
	justify-content: space-around;
}

nav > ul Link {
	text-decoration: none;
}

nav > ul li {
	padding: 20px;
	color: var(--secondary);
}

nav > ul li:hover {
	color: var(--primary);
	background-color: var(--secondary);
	cursor: pointer;
}

.courses {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: column; */
}
.course-tile {
	width: 90%;
	border: 1px solid darkslategray;
	padding: 15px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	animation-name: loadin;
	animation-duration: 1s;
}

@keyframes loadin {
	0% {
		transform: translate(100px, 50px);
	}
}

.course-tile .coursecodename {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	/* border: 2px solid var(--primary); */
}
.course-tile ul {
	list-style-type: none;
}

.course-tile .topics {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 5px;
	margin-top: 10px;
}
.course-tile .topics li {
	border: 1px solid var(--primary);
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	display: grid;
	place-items: center;
}

.course-tile .topics li:hover {
	background-color: var(--primary);
	color: var(--secondary);
}

.course-tile .favorite {
	position: absolute;
	/* width: 100px; */
	color: var(--primary);
	background-color: var(--secondary);
	padding: 0px 5px;
	outline: none;
	top: 5px;
	right: 5px;
	border-radius: 10px;
	border: 2px solid var(--primary);
	font-size: 1.5rem;

	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--primary);
}

.course-tile .favorite:hover {
	cursor: pointer;
	background-color: var(--primary);
}

.profile {
	display: flex;
	flex-direction: column;
	/* place-items: center; */
	height: 80vh;
	align-items: center;
	justify-content: center;
	position: relative;
}

.profile img {
	width: 100px;
}

.profile button,
.loginbtn {
	position: absolute;
	width: 100px;
	color: var(--primary);
	background-color: var(--secondary);
	padding: 5px 15px;
	outline: none;
	top: 20px;
	right: 20px;
	border-radius: 10px;
	border: 2px solid var(--primary);
}

.loginbtn {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 15px;
	width: 200px;
}
.profile button:hover,
.loginbtn:hover {
	cursor: pointer;
	color: var(--secondary);
	background-color: var(--primary);
}

/* Search */
.search-container > input,
.search-container > button {
	/* background-color: blue; */
	padding: 5px;
	width: 70%;
	background-color: var(--secondary);
	outline: none;
	border: none;
	border-bottom: 2px solid var(--primary);
	margin-left: 5px;
}

.search-container > button {
	width: 20%;
	border: 2px solid var(--primary);
	margin-left: 10px;
}

.search-container > button:hover {
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

.searchfilter-container {
	/* border: 2px solid var(--primary); */
	padding: 10px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.searchfilter-container input {
	transform: translateY(2px);
}

@media screen and (max-width: 400px) {
	nav > ul li {
		font-size: 11px;
	}
}
